h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

body{
	margin:0;
	padding:0;
	background:black;
}

.wheel{
	position:absolute;
	top:calc(50% - 150px);
	left:calc(50% - 100px);
	width:200px;
	height:300px;
	transform:perspective(1000px) rotateY(-45deg);
	transform-style:preserve-3d;
}

.wheel div{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
    animation:animate 8s linear infinite;
}

.wheel div span{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	background: linear-gradient(0deg,#f1f1f1,#bbb,#f1f1f1);
    border-radius:20px;
}

.wheel div span:nth-child(1){
    transform:rotateX(0deg);
}

.wheel div span:nth-child(2){
    transform:rotateX(45deg);
}

.wheel div span:nth-child(3){
    transform:rotateX(-45deg);
}

.wheel div span:nth-child(4){
    transform:rotateX(90deg);
}

@keyframes animate{
    0%{
        transform: perspective(1000px) rotateX(0deg);
    }
    100%{
        transform: perspective(1000px) rotateX(450deg);
    }
}
